<h1 class="container my-5">Post Here!</h1>

<div class="container" id="mybutton">
    <%= link_to 'New Post', new_post_path, class: 'btn btn-primary', remote: true %>
</div>

<div id="form"></div>

<div class="container my-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody id="posts">
            <% @posts.each do |post| %>
                <tr id="post-<%=post.id%>">
                    <td><%= post.title %></td>
                    <td><%= post.content %></td>
                    <td><%= link_to 'Edit', edit_post_path(post), remote: true, class: 'btn btn-info', id: 'editbtn' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

